{% extends "@App/layout.html.twig" %}

{% block title %}
    Radio online
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    {% include "@App/Radio/show_content.html.twig" %}
{% endblock content %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $.ajax({
            url: 'http://localhost:8000/status-json.xsl',
            data: {},
            type: 'GET',
            success: function (data) {
                var stats = data;

                var sources = stats.icestats.source;

                for(var i = 0, len = sources.length; i < len; i++) {
                    $('<audio>', {src: sources[i].listenurl, controls: true}).appendTo('#stats');
                }
            }
        });
    </script>

{% endblock javascripts %}

